.button:hover {
    -fx-background-color: #0cafe1; /* изменение цвета фона кнопки на светло-голубой при наведении */
}

.button{
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #289EA9;
    -fx-background-color: #1C505E;
}